*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}
body{
  background-image: url(./assets/react-header.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
