*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Component_body{
    background-color: #446100;
    border-radius: 20px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 200px;
    width: 100%;
}